<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>
<head>
  <script>
    function buyerfunction() {
      location.href = "buyer";
    }
    function sellerfunction() {
      location.href = "seller";
    }
  </script>
</head>

<body>
  <h1>Welcome to Housing Manangement System</h1>

  <!-- <p><a href="buyer">Buyer</a></p>
  <p><a href="seller">Seller</a></p> -->
  <p>You are a</p>
  <button id="BuyerBtn" onclick = "buyerfunction()">Buyer</button>
  <button id="SellerBtn" onclick = "sellerfunction()">Seller</button>

</body>


</html>
